:root {
  --text-900: #4a4a4f;
  --text-800: #545359;
  --text-700: #5d5c63;
  --text-600: #6d6c73;
  --text-500: #7d7d82;
  --text-400: #8e8d92;
  --text-300: #aeaeb1;
  --text-200: #ceced0;
  --text-100: #ffffff;

  --border-color: #151416;
  --border-color-light: #373c4a;

  --background-primary: 6, 12, 17;
  --background-footer: #12151d;
  --background-secondary: #1a1d27;
  --background-card: #12151d;
  --background-card-btn: #1c202b;
  --background-card-btn-hvr: #262a36;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(var(--background-primary));
  color: var(--text-100);
  font-family: "Poppins", sans-serif;
  scrollbar-color: #201e21 transparent;
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

.header {
  backdrop-filter: blur(80px);
  background: rgb(var(--background-primary), 0.5);
  position: sticky;
  z-index: 5;
  left: 0;
  top: 0;
  right: 0;
  height: 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;

  > .left {
    display: flex;
    gap: 16px;
    align-items: center;
    @media only screen and (max-width: 600px) {
      justify-content: space-between;
      width: 100%;
    }
  }

  &__logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: transparent;
    border: none;
    color: var(--text-100);
    text-decoration: none;
    cursor: pointer;

    > h1 {
      margin: 0;
      padding: 0;
      font-size: inherit;
    }
  }

  &__nav {
    > ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 2rem;
    }
  }

  &__nav-btn {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: transparent;
    border: none;
    color: var(--text-200);
    transition: color 100ms ease-in-out;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: var(--text-100);
    }
  }

  @media screen and (max-width: 768px) {
    padding-left: 1rem;
    padding-right: 1rem;
    &__nav {
      > ul {
        gap: 1rem;
      }
    }

    &__nav-btn {
      font-size: 14px;
    }
  }
}

.skin-thief {
  display: none;
}

.badge {
  height: 32px;
  width: 32px;
  > img {
    height: 32px;
    width: 32px;
  }

  > .tooltip {
    position: absolute;
    transform: translateY(-200%) translateX(-25%);
    opacity: 0%;
    font-size: 14px;
    font-weight: 400;
    padding: 4px 18px;
    border-radius: 4px;
    background-color: var(--background-card-btn);
    transition: opacity 35ms ease-in-out, transform 55ms ease-in-out;
    box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);

    &.hover {
      transform: translateY(-280%) translateX(-25%);
      opacity: 100%;
    }
  }
}

.player-header {
  height: 275px;
  display: flex;
  border-radius: 8px;
  box-shadow: 130px 100px 140px -90px rgba(var(--skin-highlight), 0.2);

  background: radial-gradient(
    ellipse at 140% 100%,
    rgba(var(--skin-highlight), 0.1) 0%,
    rgba(var(--skin-highlight), 0.1) 30%,
    rgba(var(--skin-highlight), 0) 65%
  );
  background-color: var(--background-card);
  > .details {
    width: 100%;
    padding: 2rem;
    > h1 {
      font-weight: 600;
      font-size: 32px;
      display: flex;
      align-items: center;
      gap: 4px;
      > .mc-rank {
        margin-right: 8px;
      }
    }
    > h2 {
      font-size: 16px;
      font-weight: 400;
      color: var(--text-400);
    }

    > .overview-stats {
      display: flex;
      width: 75%;
      justify-content: space-between;

      @media only screen and (max-width: 600px) {
        width: 100%;
        flex-wrap: wrap;
      }

      > .header-stat {
        @media only screen and (max-width: 600px) {
          min-width: 33%;
        }
        > h1 {
          font-weight: 400;
          color: var(--text-300);
          font-size: 15px;
          user-select: none;
        }
        > h2 {
          font-weight: 600;
          font-size: 18px;
        }
      }
    }
  }
  > .skin {
    height: 275px;

    @media only screen and (max-width: 600px) {
      display: none;
    }
    > canvas {
      transform: translateY(-50px);
    }
  }
}

.divider {
  background: linear-gradient(
    90deg,
    transparent 0%,
    var(--border-color-light) 5%,
    var(--border-color-light) 50%,
    transparent 80%
  );
  margin-left: -5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 1px;

  &.margin-card {
    margin-left: 1.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &.center {
    background: linear-gradient(
      90deg,
      transparent 0%,
      var(--border-color-light) 10%,
      var(--border-color-light) 90%,
      transparent 100%
    );
    margin-left: 0;
  }
}

section {
  width: 100%;
  > * {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100%;
  }
}

.card {
  min-height: 50px;
  display: flex;
  border-radius: 8px;
  background-color: var(--background-card);
  flex-direction: column;

  &.multi {
    background-color: transparent;
    flex-direction: column;
    gap: 1rem;

    > .sub-card {
      width: 100%;
      background-color: var(--background-card);
      flex: 1;
      border-radius: 8px;
      display: flex;
      flex-direction: column;

      > .stat {
        > .content {
          margin-top: -2rem;
          margin-bottom: -2rem;
        }
        &:first-child {
          > .content {
            margin-top: 0;
          }
        }
        &:last-child {
          > .content {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &.transparent {
    background-color: transparent;
  }

  &.center {
    justify-content: center;
  }

  &.mini {
    min-height: auto;
  }

  > .stat {
    > .content {
      margin-top: -2rem;
      margin-bottom: -2rem;
    }
    &:first-child {
      > .content {
        margin-top: 0;
      }
    }
    &:last-child {
      > .content {
        margin-bottom: 0;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    > .stat {
      width: auto;
    }
  }
  &.transparent {
    background-color: transparent;
  }
}

.accordion-subtitle,
.card-subtitle {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--text-300);
  text-transform: uppercase;

  &:not(:first-child) {
    margin-top: 2rem;
  }

  width: 100%;
  text-align: center;
}

.card > .card-subtitle {
  padding-top: 2rem;
}

.stat {
  margin: 2rem;
  display: flex;
  width: 100%;

  > .content {
    flex-grow: 1;
    > h1 {
      font-weight: 400;
      color: var(--text-300);
      font-size: 15px;
      user-select: none;
      @media only screen and (max-width: 600px) {
        text-align: center;
      }
    }
    > h2 {
      font-weight: 600;
      font-size: 18px;
      @media only screen and (max-width: 600px) {
        text-align: center;
      }
    }
  }

  &.center {
    align-items: center;
  }

  &.center-horz {
    justify-content: center;
    > .content {
      align-items: center;
      display: flex;
      flex-direction: column;
      > * {
        width: fit-content;
      }
    }
  }

  &.inline {
    margin: 0;
  }

  &.margin {
    margin: 0.75rem 1rem;
  }

  &.mini {
    > .content {
      > h1 {
        font-size: 13px;
      }
      > h2 {
        font-size: 16px;
        color: var(--text-200);
      }
    }
  }
}

.player-content {
  display: flex;
  width: 100%;
  gap: 1rem;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    width: auto;
  }
  > .content-main {
    flex: 1;
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  > .content-sub {
    width: 30%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    @media only screen and (max-width: 600px) {
      flex: 1;
      width: auto;
    }
  }
}
.player-pages {
  height: 40px;
  display: inline-block;
  background-color: var(--background-card);
  border-radius: 8px;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 1rem;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    height: fit-content;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
  }

  > .page-btn {
    border: none;
    border-radius: 4px;
    height: 100%;
    flex: 1;
    background-color: var(--background-card-btn);
    text-decoration: none;
    color: var(--text-100);
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
    @media only screen and (max-width: 600px) {
      min-height: 40px;
    }

    &:hover {
      background-color: var(--background-card-btn-hvr);
    }

    &.active {
      background-color: rgb(var(--skin-highlight));
      box-shadow: 0px 0px 8px 0px rgba(var(--skin-highlight), 0.7);
    }

    &.disabled {
      cursor: not-allowed;
      color: var(--text-300);

      &:hover {
        background-color: var(--background-card-btn);
      }
    }
  }

  &.no-marg {
    margin-bottom: 0;
  }
}

.card-horz {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1rem 0;
  padding-bottom: 0;
  > * {
    flex: 1;
    height: 100%;
  }

  &.pad-bottom {
    padding-bottom: 1rem;
  }

  &.big-gap {
    padding-top: 3rem;
  }
  &.space {
    gap: 1rem;
  }
  &.nomarg {
    padding: 0;
    padding-bottom: 0;
  }

  &.two-fix {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

.accordion {
  overflow: hidden;
  background-color: var(--background-card);
  border-radius: 8px;
  transition: height 150ms ease-in-out;

  &__header {
    height: 65px;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    user-select: none;
    justify-content: space-between;
    cursor: pointer;
    background-color: var(--background-card);
    z-index: 2;

    > .header__title {
      font-weight: 600;
    }
    > .header__icon {
      margin-right: 1rem;
      font-size: 24px;
      color: var(--text-300);
      transform: rotate(0deg);
      transition: transform 90ms ease-in-out, color 110ms ease-in-out;
    }
  }

  &__content {
    z-index: 1;
    padding: 2rem;
    padding-top: 0;
    opacity: 0%;
    transition: opacity 150ms ease-in-out, transform 200ms ease-in-out;
    transform: translateY(-20px);
    pointer-events: none;
  }

  &.open > .accordion__content {
    transform: translateY(0px);
    pointer-events: all;
  }

  &.open > .accordion__header > .header__icon {
    transform: rotate(180deg);
  }

  &:hover > .accordion__header > .header__icon {
    color: var(--text-200);
  }
}

.BLACK {
  color: #000000;
}

.DARK_BLUE {
  color: #0000aa;
}

.DARK_GREEN {
  color: #00aa00;
}

.DARK_AQUA {
  color: #00aaaa;
}

.DARK_RED {
  color: #aa0000;
}

.DARK_PURPLE {
  color: #aa00aa;
}

.GOLD {
  color: #ffaa00;
}

.GRAY {
  color: #aaaaaa;
}

.DARK_GRAY {
  color: #555555;
}

.BLUE {
  color: #5555ff;
}

.GREEN {
  color: #55ff55;
}

.AQUA {
  color: #55ffff;
}

.RED {
  color: #ff5555;
}

.LIGHT_PURPLE {
  color: #ff55ff;
}

.YELLOW {
  color: #ffff55;
}

.WHITE {
  color: #ffffff;
}

.gap {
  margin-bottom: 1rem;
}

.stat-table {
  margin-top: 2rem;
  width: 100%;
  row-gap: 0;
  border-collapse: collapse;
  > .row {
    width: 100%;
    margin-bottom: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0;
    border-bottom: 1px solid var(--text-900);

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }

    &:first-child {
      border-bottom: 2px solid var(--text-500);
    }

    > .col {
      flex: 1;
      color: var(--text-200);
      padding-left: 8px;
      padding-right: 8px;
      padding-bottom: 4px;
      padding-top: 4px;
      font-weight: 300;
      font-size: 14px;
      border-right: 1px solid var(--text-900);
      &:first-child {
        padding-left: 0;
        font-weight: 500;
        border-right: 2px solid var(--text-500);
      }
      &:last-child {
        border-right: none;
      }
    }

    &.head {
      > .col {
        text-align: left;
        color: var(--text-100);
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
.section-content {
  min-height: 90vh;
}

.site-footer {
  width: 100%;
  margin-top: 2rem;
  background-color: var(--background-footer);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > .row {
    width: 100%;
    display: flex;

    &.section {
      width: 100%;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-between;
      @media only screen and (max-width: 600px) {
        margin-left: 1rem;
        margin-right: 1rem;
        max-width: 92vw;
      }
    }

    &.padded {
      padding: 1rem 0;
    }

    &.center {
      justify-content: center;
      gap: 1rem;
    }
    &.cc {
      justify-content: center;
      background-color: var(--background-secondary);
      font-size: 14px;
      color: var(--text-300);
      @media only screen and (max-width: 600px) {
        font-size: 11px;
      }
    }
  }
}

.footer-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  > .footer-title {
    font-weight: 600;
    color: var(--text-300);
    text-transform: uppercase;
    transition: all 100ms ease-in-out;
    font-size: 14px;
    @media only screen and (max-width: 600px) {
      font-size: 10px;
    }
  }
  > .footer-item {
    font-size: 14px;
    color: var(--text-300);
    text-decoration: none;
    @media only screen and (max-width: 600px) {
      font-size: 12px;
    }
    cursor: pointer;
    padding-top: 0.1rem;
    &:nth-child(1) {
      padding-top: 1rem;
    }

    &:hover {
      color: var(--text-200);
    }
  }
}

.boxed-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--border-color-light);
  height: 38px;
  width: 38px;
  background-color: transparent;

  transition: all 100ms ease-in-out;
  color: var(--text-200);

  > * {
    height: 18px;
    width: 18px;
  }

  &:hover {
    background-color: var(--background-card-btn);
    cursor: pointer;
  }
}

.fake-accordion {
  overflow: hidden;
  background-color: var(--background-card);
  border-radius: 8px;
  transition: height 150ms ease-in-out;
  border: none;
  text-decoration: none;

  &__header {
    height: 65px;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    user-select: none;
    justify-content: space-between;
    cursor: pointer;
    background-color: var(--background-card);
    z-index: 2;
    color: var(--text-100);
    font-size: 16px;

    > .header__title {
      font-weight: 600;
    }
    > .header__icon {
      margin-right: 1rem;
      font-size: 24px;
      color: var(--text-300);
      transform: rotate(-90deg) translateY(0px);
      transition: transform 90ms ease-in-out, color 110ms ease-in-out;
    }
    &:hover {
      > .header__icon {
        transform: rotate(-90deg) translateY(5px);
        color: var(--text-200);
      }
    }
  }
}

.wizards-class-display {
  display: flex;
  flex-direction: column;
  gap: 6px;

  > .display__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    > .header__title {
      font-size: 18px;
      font-weight: 600;
      color: var(--text-100);
    }

    > .prestiged {
      background-color: #fdb833;
      padding: 0px 6px;
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;
      height: fit-content;
      border-radius: 8px;
      display: block;
    }
  }

  > .display__stats {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    > .display-stat {
      > .stat__title {
        font-weight: 400;
        color: var(--text-300);
        font-size: 14px;
      }
      > .stat__value {
        font-weight: 600;
        color: var(--text-100);
        font-size: 16px;
      }
    }
  }

  > .display__bars {
    display: flex;
    width: 100%;
    gap: 32px;
    > .bar {
      flex: 1;
      width: 100%;
      > .bar__title {
        font-weight: 400;
        font-size: 14px;
        color: var(--text-100);
      }
      > .bar-wrapper {
        margin-top: 2px;
        width: 100%;
        background-color: var(--background-card-btn);
        height: 8px;
        border-radius: 99px;
        > .bar {
          width: 0%;
          background-color: #17b1e1;
          height: 8px;
          border-radius: 99px;

          &.mana {
            background-color: #8ecae6;
          }
          &.power {
            background-color: #ce4257;
          }
        }
      }
    }
  }
}

.landing-page {
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  > h1 {
    margin-top: 2rem;
    font-weight: 700;
    font-size: 42px;
    max-width: 575px;
    text-align: center;
    @media only screen and (max-width: 600px) {
      font-size: 28px;
      max-width: 80%;
    }
  }
  > p {
    margin-bottom: 26px;
    max-width: 525px;
    font-weight: 500;
    color: var(--text-300);
    font-size: 20px;
    text-align: center;
    @media only screen and (max-width: 600px) {
      font-size: 14px;
      max-width: 75%;
    }
  }
  > .search {
    margin-bottom: 32px;

    > button {
      height: 42px;
      padding-left: 32px;
      padding-right: 32px;
    }
  }
}
.landing-grid {
  width: 1000px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 424px;
  @media only screen and (max-width: 600px) {
    width: 80vw;
    flex-direction: column;
    height: fit-content;
  }
  > .row {
    display: flex;
    flex-direction: row;
    gap: 24px;
    @media only screen and (max-width: 600px) {
      flex-direction: column;
      height: fit-content;
    }
    > .box {
      flex-basis: 25%;
      height: 200px;
      background-color: var(--background-card);
      border-radius: 8px;
      background: radial-gradient(
        ellipse at 140% 100%,
        rgba(var(--skin-highlight), 0.1) 0%,
        rgba(var(--skin-highlight), 0.1) 10%,
        rgba(var(--skin-highlight), 0) 75%
      );
      background-color: var(--background-card);
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      @media only screen and (max-width: 600px) {
        flex-basis: 100%;
      }

      > canvas {
        position: absolute;
        transform: scale(0.5) translateY(-33%) translateX(-55%);
        @media only screen and (max-width: 600px) {
          transform: scale(0.5) translateY(-50%) translateX(-55%);
        }
      }
      > .box__header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 20px;
        > .header__info {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          > h1 {
            font-size: 12px;

            color: var(--text-300);
            font-weight: 400;
          }
          > h2 {
            font-size: 18px;
            color: var(--text-100);
            font-weight: 600;
          }
        }
      }

      > .box__button {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 20px;
      }
    }
    > .box-double {
      flex-basis: calc(50% + 24px);
      height: 200px;
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      background: radial-gradient(
        ellipse at 140% 100%,
        rgba(var(--skin-highlight), 0.1) 0%,
        rgba(var(--skin-highlight), 0.1) 30%,
        rgba(var(--skin-highlight), 0) 65%
      );
      background-color: var(--background-card);

      @media only screen and (max-width: 600px) {
        flex-basis: 100%;
        height: 200px;
        background-color: var(--background-card);
        border-radius: 8px;
        background: radial-gradient(
          ellipse at 140% 100%,
          rgba(var(--skin-highlight), 0.1) 0%,
          rgba(var(--skin-highlight), 0.1) 10%,
          rgba(var(--skin-highlight), 0) 75%
        );
        background-color: var(--background-card);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }

      > canvas {
        position: absolute;
        transform: scale(0.5) translateY(-25%) translateX(280%);
        @media only screen and (max-width: 600px) {
          position: absolute;
          transform: scale(0.5) translateY(-50%) translateX(-55%) !important;
        }
      }

      > .box__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        @media only screen and (max-width: 600px) {
          justify-content: flex-end;
        }
        > .header__info {
          @media only screen and (max-width: 600px) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }
          > h1 {
            font-size: 14px;
            color: var(--text-300);
            font-weight: 400;
          }
          > h2 {
            font-size: 18px;
            color: var(--text-100);
            font-weight: 600;
          }
        }
        > .header__stat {
          font-size: 16px;
          color: var(--text-300);
          font-weight: 400;
          @media only screen and (max-width: 600px) {
            display: none;
          }
        }
      }

      > .box__button {
        padding: 20px;
        @media only screen and (max-width: 600px) {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        }
      }
    }
  }
}

.search {
  display: flex;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    width: 80%;
  }

  &.mini > .bar {
    height: 32px;
  }
  > .bar {
    width: 450px;
    height: 42px;
    display: flex;
    align-items: center;
    border-radius: 999px;
    border: 1px solid #252831;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }

    > svg {
      margin-left: 1rem;
      margin-right: 0.35rem;
      height: 18px;
      width: 18px;
      color: var(--text-500);
    }
    > input {
      font-size: 14px;
      background-color: transparent;
      color: var(--text-200) !important;
      border: none;
      width: 100%;

      &:focus,
      &:focus-visible {
        outline: none;
      }
    }
  }
  > button {
    margin-left: 1rem;
    padding: 6px 28px;
    border-radius: 999px;
    border: none;
    background-color: var(--background-card);
    color: var(--text-100);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @media only screen and (max-width: 600px) {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
}

.outline-btn {
  outline: none;
  padding: 4px 16px;
  border-radius: 999px;
  font-size: 14px;
  border: 1px solid #fff;
  background-color: transparent;
  color: var(--text-100);
  transition: all 100ms ease-in-out;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: var(--background-card-btn);
  }
}

@media only screen and (max-width: 600px) {
  .wizards-class-display {
    max-width: 350px;
    > .display__stats {
      > * {
        width: 33.333%;
      }
    }
    > .display__bars {
      flex-direction: column;
    }
  }
}

.leaderboard {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 16px;
  > .leaderboard-header {
    font-size: 32px;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  @media only screen and (max-width: 1100px) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.leaderboard-content {
  min-width: 1100px;
  // height: 650px;
  width: fit-content;
  display: flex;
  flex-direction: column;

  > .leaderboard-item {
    height: 25px;
    display: flex;
    > .place {
      width: 40px;
      border-right: 1px solid var(--border-color-light);
    }
    > .username {
      width: 30%;
      border-right: 1px solid var(--border-color-light);
      padding-left: 16px;
      > * {
        text-decoration: none;
      }
    }
    > .wins {
      width: calc((100% - (40px + 30%)) / 2.75);
      border-right: 1px solid var(--border-color-light);
      padding-left: 16px;
    }
    > .KD {
      border-right: 1px solid var(--border-color-light);
      width: calc((100% - (40px + 30%)) / 2.75);
      padding-left: 16px;
    }
    > .KDA {
      padding-left: 16px;
      // width: calc((100% - (40px + 30%)) / 3);
    }
    > * {
      > .mobile-item-title {
        display: none;
      }
    }

    &.title {
      > * {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        color: var(--text-300);
      }
    }
  }

  @media only screen and (max-width: 1100px) {
    width: 100%;
    min-width: 100%;
    > .leaderboard-item {
      height: fit-content;
      flex-wrap: wrap;
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--border-color-light);

      &:last-child {
        border-bottom: none;
      }
      &.title {
        display: none;
      }
      > * > .mobile-item-title {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--text-300);
      }
      > .place {
        width: auto;
        margin-right: 10px;
        border-right: none;
        padding-bottom: 8px;

        > .mobile-item-title {
          display: inline;
          font-size: inherit;
          color: inherit;
        }
      }

      > .username {
        padding-left: 0px;
        width: calc(100% - 60px);
        border-right: none;
        padding-bottom: 8px;
      }

      > .wins {
        flex: 1;
        padding-left: 0px;
        border-right: none;
        display: flex;
        flex-direction: column;
      }
      > .KD {
        padding-left: 0px;
        flex: 1;
        border-right: none;
        display: flex;
        flex-direction: column;
      }
      > .KDA {
        padding-left: 0px;
        flex: 1;
        border-right: none;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
.leaderboard-spinner {
  width: 1100px;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaderboard-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: var(--text-300);
}

.paginated {
  display: flex;
  flex-direction: row;
  gap: 8px;
  > .page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    font-size: 14px;
    border-radius: 4px;
    background-color: var(--background-card-btn);
    font-weight: 400;
    color: var(--text-300);
    cursor: pointer;
    transition: all 70ms ease-in-out;

    &:hover {
      color: var(--text-100);
    }

    &.selected {
      color: var(--text-100);
    }

    > svg {
      height: 16px;
      width: 16px;
    }
  }
}

.page-loader {
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(0px);
  background: transparent;
  pointer-events: none;
  transition: all 150ms ease-in-out;

  > * {
    pointer-events: none;
    opacity: 0%;
    transition: all 150ms ease-in-out;
  }

  &.active {
    backdrop-filter: blur(15px);
    background: rgb(var(--background-primary), 0.5);
    > * {
      opacity: 100%;
    }
  }
}

.mobile_header {
  display: none;
  height: 0vh;
}

@media only screen and (max-width: 800px) {
  .mobile_header {
    display: block;
    position: sticky;
    height: 0px;
    width: 100vw;
    top: 81px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    backdrop-filter: blur(80px);
    background: rgb(var(--background-primary), 0.5);
    pointer-events: none;
    transition: height 110ms ease-in-out;
    overflow: hidden;

    &.active {
      height: calc(100vh - 81px);
      pointer-events: all;
    }
    > .mobile_header-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem;
      > .search {
        width: 100%;
      }
      > a {
        width: 100%;
        height: 42px;
        text-decoration: none;
        font-size: 18px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        align-items: center;
        display: flex;
        justify-content: center;
        color: var(--text-100);
      }
    }
  }
}
.mobile-drop-btn {
  > svg {
    height: 24px;
    width: 24px;
  }
  @media only screen and (min-width: 800px) {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .desktop-only {
    display: none;
  }
}
